In [91]:

import pandas


u202 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv")
u203 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv")
u302 = pandas.read_csv(
    "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv")

In [92]:
print(u202)

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

In [93]:
u202["znamka"].notna()

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
Name: znamka, dtype: bool

In [94]:
u202["znamka"].isnull()

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: znamka, dtype: bool

In [95]:
testovaci_data = u202[u202['znamka'].isnull()]

In [96]:
testovaci_data.dropna()

Empty DataFrame
Columns: [cisloStudenta, predmet, znamka, den]
Index: []

In [97]:
maturita = pandas.concat([u202, u203, u302])
maturita

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
0               5  Společenské vědy     3.0  po
1              13        Matematika     5.0  po
2               7       Informatika     3.0  po
3              12            Fyzika     3.0  st
4              14            Fyzika     3.0  st
5              15            Chemie     3.0  pá
6              16       Informatika     2.0  út
7               8           Zeměpis     1.0  po
8              17            Fyzika     4.0  po
9              15  Společenské vědy     3.0  pá
10             19       Informatika     NaN  po
11             20            Fyzika     2.0  čt
12              9  Společenské vědy     NaN  pá
13             21          Biologie     4.0  st
14             22           Zeměpis     3.0  út
0              23       Informatika     1.0  po
1              23  Společenské vědy     1.0  po
2               6        Matematika     5.0  čt
3               4       Informatika     1.0  pá
4              16          Biologie     2.0  út
5              20        Matematika     1.0  čt
6              21       Informatika     4.0  st
7              11            Chemie     5.0  st
8              14           Dějepis     3.0  st
9              19  Společenské vědy     NaN  po
10             13            Chemie     4.0  po
11             22       Informatika     3.0  út
12              1           Zeměpis     NaN  pá
13             17        Matematika     3.0  po

In [98]:
maturita = pandas.concat([u202, u203, u302], ignore_index=True)
maturita

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
15              5  Společenské vědy     3.0  po
16             13        Matematika     5.0  po
17              7       Informatika     3.0  po
18             12            Fyzika     3.0  st
19             14            Fyzika     3.0  st
20             15            Chemie     3.0  pá
21             16       Informatika     2.0  út
22              8           Zeměpis     1.0  po
23             17            Fyzika     4.0  po
24             15  Společenské vědy     3.0  pá
25             19       Informatika     NaN  po
26             20            Fyzika     2.0  čt
27              9  Společenské vědy     NaN  pá
28             21          Biologie     4.0  st
29             22           Zeměpis     3.0  út
30             23       Informatika     1.0  po
31             23  Společenské vědy     1.0  po
32              6        Matematika     5.0  čt
33              4       Informatika     1.0  pá
34             16          Biologie     2.0  út
35             20        Matematika     1.0  čt
36             21       Informatika     4.0  st
37             11            Chemie     5.0  st
38             14           Dějepis     3.0  st
39             19  Společenské vědy     NaN  po
40             13            Chemie     4.0  po
41             22       Informatika     3.0  út
42              1           Zeměpis     NaN  pá
43             17        Matematika     3.0  po

In [99]:
u202['mistnost'] = 'u202'
u203['mistnost'] = 'u203'
u302['mistnost'] = 'u302'

maturita = pandas.concat([u202, u203, u302], ignore_index=True)

In [100]:
maturita.to_csv('maturita.csv', index=False)

In [101]:
u202['mistnost'] = 'u202'
u203['mistnost'] = 'u203'
u302['mistnost'] = 'u302'

maturita = pandas.concat([u202, u203, u302], ignore_index=True)

In [102]:
studenti = pandas.read_csv('studenti.csv')
studenti

    cisloStudenta              jmeno
0               1     Jana Zbořilová
1               2       Lukáš Jurčík
2               3        Pavel Horák
3               4      Pavel Kysilka
4               5   Kateřina Novotná
5               6  Marie Krejcárková
6               7        Vasil Lácha
7               8     Alexey Opatrný
8               9       Petr Valenta
9              10    Miroslav Bednář
10             11    Ivana Dvořáková
11             12     Lenka Jarošová
12             13         Arnošt Sas
13             14    Marie Kortusová
14             15    Monika Dudysová
15             16   Josef Vodseďálek
16             17     Antonín Hlídek
17             18  Hedvika Popelková
18             19       Filip Lacina
19             20     Marta Kinclová
20             21  Martina Korbářová
21             22         Petr Tábor

In [103]:
propojeny_df = pandas.merge(u202, studenti)

In [104]:
print(u202.shape)
print(propojeny_df.shape)

(15, 5)
(15, 6)

In [105]:
preds = pandas.read_csv('predsedajici.csv')

In [106]:
novy_propojeny_df = pandas.merge(propojeny_df, preds)
novy_propojeny_df.head()

Empty DataFrame
Columns: [cisloStudenta, predmet, znamka, den, mistnost, jmeno, datum]
Index: []

In [107]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'])
novy_propojeny_df

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,1,Chemie,NaN,pá,u202,Jana Zbořilová,24.5.2019,Alena Pniáčková
1,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
3,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
4,9,Dějepis,NaN,pá,u202,Petr Valenta,24.5.2019,Alena Pniáčková
5,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
6,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
7,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
8,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
9,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
10,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
11,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský

In [108]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=[
                                 'den'], how="left")  # how = "outer"
novy_propojeny_df

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,1,Chemie,NaN,pá,u202,Jana Zbořilová,24.5.2019,Alena Pniáčková
1,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
3,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
4,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
5,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
6,5,Dějepis,1.0,po,u202,Kateřina Novotná,NaN,NaN
7,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
8,7,Dějepis,4.0,po,u202,Vasil Lácha,NaN,NaN
9,8,Matematika,2.0,po,u202,Alexey Opatrný,NaN,NaN
10,9,Dějepis,NaN,pá,u202,Petr Valenta,24.5.2019,Alena Pniáčková
11,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
12,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
13,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
14,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský

In [109]:
novy_propojeny_df[novy_propojeny_df["datum"].isnull()]

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
6,5,Dějepis,1.0,po,u202,Kateřina Novotná,NaN,NaN
8,7,Dějepis,4.0,po,u202,Vasil Lácha,NaN,NaN
9,8,Matematika,2.0,po,u202,Alexey Opatrný,NaN,NaN

In [110]:
preds["den"] = preds["den"].str.strip()

In [111]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'], how="left")
novy_propojeny_df

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,1,Chemie,NaN,pá,u202,Jana Zbořilová,24.5.2019,Alena Pniáčková
1,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
3,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
4,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
5,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
6,5,Dějepis,1.0,po,u202,Kateřina Novotná,20.5.2019,Marie Zuzaňáková
7,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
8,7,Dějepis,4.0,po,u202,Vasil Lácha,20.5.2019,Marie Zuzaňáková
9,8,Matematika,2.0,po,u202,Alexey Opatrný,20.5.2019,Marie Zuzaňáková
10,9,Dějepis,NaN,pá,u202,Petr Valenta,24.5.2019,Alena Pniáčková
11,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
12,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
13,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
14,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský

In [112]:
novy_propojeny_df = novy_propojeny_df.rename(
    columns={'jmeno_x': 'jmeno', 'jmeno_y': 'predseda'})

In [113]:
maturita.groupby('mistnost').count()

          cisloStudenta  predmet  znamka  den
mistnost
u202                 15       15      13   15
u203                 15       15      13   15
u302                 14       14      12   14

In [114]:
maturita.groupby('predmet')['znamka'].mean()

predmet
Biologie            2.750000
Chemie              3.800000
Dějepis             3.200000
Fyzika              2.800000
Informatika         2.333333
Matematika          2.714286
Společenské vědy    2.250000
Zeměpis             2.000000
Name: znamka, dtype: float64

In [115]:
maturita.groupby('predmet')[['znamka', 'cisloStudenta']].mean()

                    znamka  cisloStudenta
predmet
Biologie          2.750000      13.250000
Chemie            3.800000       8.833333
Dějepis           3.200000       7.833333
Fyzika            2.800000      13.800000
Informatika       2.333333      16.000000
Matematika        2.714286      11.142857
Společenské vědy  2.250000      12.166667
Zeměpis           2.000000      10.333333